.wrapper {
  padding: 20px 5%;
  border-radius: 10px;

  width: 70%;
  margin: 25px  auto;
  background-color: #fff;
}

@media (max-width: 700px){
  .wrapper{
    width: 80%;
    padding: 20px 10%;
  }
}